table {
    border-collapse: collapse;
    margin: 5px;
    margin-bottom: 15px;
}

th, td {
    padding: .5rem;
}

thead > tr:nth-child(odd) {
    background-color: blanchedalmond;
}

label, input {
    display: block;
}

